.camera-box {
  height: 384px;
  width: 512px;
  margin-bottom: 1em;
  border-radius: 1em;
  display: flex;
  overflow: hidden;
}

.action-button-small.back-button {
  background-color: var(--secondary);
}

.action-button-small.help-button {
  background-color: var(--secondary);
}
