@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("assets/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("assets/fonts/Poppins-Bold.ttf") format("truetype");
}

:root {
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: #222;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary: #006e1c;
  --on-primary: #ffffff;
  --secondary: #89b449;
  --on-secondary: #ffffff;
  --tertiary: #dbd469;
  --on-tertiary: #ffffff;
}

body {
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: auto;
  display: flex;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

/* Individual components */
h1 {
  color: var(--primary);
  margin-bottom: 0;
}

h2 {
  color: var(--primary);
  margin-bottom: 0;
}

.action-button {
  font-size: 1.75em;
  font-family: Poppins, sans-serif;
  padding: 0.75em;
  border: 0;
  border-radius: 1rem;
  background-color: var(--primary);
  color: var(--on-primary);
  cursor: pointer;
  transition: background-color 0.1s;
}

.action-button:active {
  background-color: var(--secondary);
}

.action-button:disabled {
  background-color: #aaaaaa;
  color: #666;
}

.action-button-small {
  font-size: 1.5em;
  font-family: Poppins, sans-serif;
  padding: 0.5em;
  margin: 0.25em;
  border: 0;
  border-radius: 1rem;
  background-color: var(--primary);
  color: var(--on-primary);
  cursor: pointer;
  transition: background-color 0.1s;
}

.action-button-small:active {
  background-color: var(--secondary);
}

.action-button-small:disabled {
  background-color: #aaaaaa;
  color: #666;
}

.loading-circle {
  border: 4px solid #f3f3f3;
  border-top: 4px solid var(--primary);
  border-radius: 50%;
  width: 1em;
  height: 1em;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
